<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:100,400,700,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" sizes="48x48" href="{{ "images/favicon.ico" | relURL }}">
    <title>{{ .Site.Title }}</title>
    {{- partial "head/index" . -}}
    <script src="{{ "scripts/main.js" | relURL }}" defer></script>
    <script src="{{ "scripts/theme-toggle.js" | relURL }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ "stylesheets/style.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "stylesheets/home.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "stylesheets/blog.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "stylesheets/article.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "stylesheets/latest-thoughts.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "stylesheets/comments.css" | relURL }}">
</head>
<body>
    {{ partial "header.html" . }}
    {{ partial "blog-nav.html" . }}
    <main class="content">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <!-- Simple Analytics -->
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</body>
</html> 