<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:100,400,700,900&display=swap" rel="stylesheet">
    <script src="/scripts/main.js" defer></script>
    <link rel="icon" type="image/x-icon" sizes="48x48" href="/images/favicon.ico">
    <title>{{ .Site.Title }}</title>
    {{- partial "head/index" . -}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
    {{ partial "header.html" . }}
    <main class="content">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
</body>
</html> 