baseURL = 'https://mirokeimioniemi.com/writing/'
languageCode = 'en-US'
title = 'Writing by Marou'
theme = 'enchanted-lowkey'
enableRobotsTXT = true
summaryLength = 15
publishDir = '../writing'

[pagination]
  pagerSize = 5

[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = false
    noClasses = true
    noHl = false
    style = 'dracula'
    tabWidth = 4
