h1 {
    display: inline-block;
    margin: 0;
    text-align: left;
}

h2 {
    margin-bottom: 2rem;
}

footer {
    margin-top: 4rem;
}

.slim-heading {
    font-weight: 100;
    margin: 0;
    margin-left: 0.6rem;
}

.composite-heading {
    margin-left: 4%;
    margin-top: -1.36rem;
    max-width: 80.1vw;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.grid-item {
    display: flex;
    width: 14rem;
    height: 14rem;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.vertical {
    max-width: 100%;
}

.horizontal {
    max-height: 100%;
}

@media screen and (min-width: 768px) {

.content {
    max-width: 60rem;
}

.composite-heading {
    margin-left: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

}