{{ define "main" }}
<div class="blog-main-content">
  <section class="academic-grid">
    {{ range where .Site.RegularPages "Type" "academic" }}
      <article class="grid-item">
        {{ if .Params.externalUrl }}
          <a href="{{ .Params.externalUrl }}" target="_blank" rel="noopener noreferrer" class="grid-item-link">
        {{ else }}
          <a href="{{ .RelPermalink }}" class="grid-item-link">
        {{ end }}
          {{ if .Params.image }}
            {{ $imgResource := .Resources.GetMatch .Params.image }}
            {{ if not $imgResource }}
              {{ $imgResource = .Resources.GetMatch (printf "*%s*" .Params.image) }}
            {{ end }}
            {{ if $imgResource }}
              <img src="{{ $imgResource.RelPermalink }}" loading="lazy" alt="{{ .Title }}" class="portfolio-item-frame grid-img">
            {{ else }}
              <img src="{{ .Params.image | relURL }}" loading="lazy" alt="{{ .Title }}" class="portfolio-item-frame grid-img">
            {{ end }}
          {{ end }}
          <h3>{{ .Title }}</h3>
        </a>
      </article>
    {{ end }}
  </section>
</div>
{{ end }} 