{{/* Recent Post Tile Partial */}}
<article class="blog-list-tile-item">
  {{/* Featured image (front matter `image` or first page resource image) */}}
  {{ if .Params.image }}
    {{ $imgResource := .Resources.GetMatch .Params.image }}
    {{ if $imgResource }}
      <a href="{{ .RelPermalink }}" class="blog-list-tile-image">
        <img src="{{ $imgResource.RelPermalink }}" alt="{{ .Title }}" />
      </a>
    {{ else }}
      <a href="{{ .RelPermalink }}" class="blog-list-tile-image">
        <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}" />
      </a>
    {{ end }}
  {{ else }}
    {{ with .Resources.ByType "image" }}
      {{ with index . 0 }}
        <a href="{{ $.RelPermalink }}" class="blog-list-tile-image">
          <img src="{{ .RelPermalink }}" alt="{{ $.Title }}" />
        </a>
      {{ end }}
    {{ end }}
  {{ end }}
  <span class="blog-list-tile-date">{{ .Date.Format "2.1.2006" }}</span>
  <a href="{{ .RelPermalink }}" class="blog-list-tile-link">{{ .Title }}</a>
  <p class="blog-list-tile-summary">
    {{ if .Params.summary }}
      {{ .Params.summary }}
    {{ else }}
      {{ .Content | plainify | truncate 150 }}
    {{ end }}
  </p>
  {{ if .Params.tags }}
    <div class="blog-list-tile-tags">
      {{ range .Params.tags }}
      <a href="/writing/tags/{{ . | urlize }}" class="blog-list-tile-tag">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
</article> 