{{- $title := .Title | default .Site.Title -}}
{{- $description := .Description | default .Summary | default .Site.Params.description | default .Site.Title -}}
{{- $description := $description | plainify | truncate 200 -}}
{{- $url := .Permalink | absURL -}}
{{- $siteName := .Site.Title -}}
{{- $locale := .Site.LanguageCode | default "en_US" -}}

{{- if .IsPage -}}
  {{- $images := slice -}}
  {{- if .Params.image -}}
    {{- $imgURL := (printf "%s%s" .Permalink .Params.image) | absURL -}}
    {{- $images = $images | append $imgURL -}}
  {{- end -}}
  {{- range .Resources.ByType "image" -}}
    {{- $resURL := .Permalink | absURL -}}
    {{- if not (in $images $resURL) -}}
      {{- $images = $images | append $resURL -}}
    {{- end -}}
  {{- end -}}
  {{- if and (eq (len $images) 0) .Site.Params.image -}}
    {{- $images = $images | append (.Site.Params.image | absURL) -}}
  {{- end -}}
  {{- $hasImage := gt (len $images) 0 -}}
  {{- $firstImage := "" -}}
  {{- if $hasImage -}}{{- $firstImage = index $images 0 -}}{{- end -}}
  
  <!-- Open Graph / Facebook / LinkedIn -->
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ $url }}">
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:description" content="{{ $description }}">
  <meta property="og:site_name" content="{{ $siteName }}">
  <meta property="og:locale" content="{{ $locale }}">
  {{- range $images -}}
  <meta property="og:image" content="{{ . }}">
  {{- end -}}
  {{- if $firstImage -}}
  <meta property="og:image:alt" content="{{ $title }}">
  {{- end -}}
  {{- if .Date -}}
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
  {{- end -}}
  {{- if .Lastmod -}}
  <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
  {{- end -}}
  {{- if .Params.tags -}}
    {{- range .Params.tags -}}
    <meta property="article:tag" content="{{ . }}">
    {{- end -}}
  {{- end -}}
  {{- if .Section -}}
  <meta property="article:section" content="{{ .Section }}">
  {{- end -}}
  
  <!-- Twitter Card -->
  <meta name="twitter:card" content="{{ if $hasImage }}summary_large_image{{ else }}summary{{ end }}">
  <meta name="twitter:url" content="{{ $url }}">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ $description }}">
  {{- range $images -}}
  <meta name="twitter:image" content="{{ . }}">
  {{- end -}}
  {{- if $firstImage -}}
  <meta name="twitter:image:alt" content="{{ $title }}">
  {{- end -}}
{{- else -}}
  {{- $image := .Site.Params.image | default "" -}}
  {{- if $image -}}
    {{- $image = $image | absURL -}}
  {{- end -}}
  
  <!-- Open Graph for non-page content (homepage, lists, etc.) -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ $url }}">
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:description" content="{{ $description }}">
  <meta property="og:site_name" content="{{ $siteName }}">
  <meta property="og:locale" content="{{ $locale }}">
  {{- if $image -}}
  <meta property="og:image" content="{{ $image }}">
  <meta property="og:image:alt" content="{{ $title }}">
  {{- end -}}
  
  <!-- Twitter Card for non-page content -->
  <meta name="twitter:card" content="{{ if $image }}summary_large_image{{ else }}summary{{ end }}">
  <meta name="twitter:url" content="{{ $url }}">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ $description }}">
  {{- if $image -}}
  <meta name="twitter:image" content="{{ $image }}">
  <meta name="twitter:image:alt" content="{{ $title }}">
  {{- end -}}
{{- end -}}

<!-- Standard meta tags -->
<meta name="description" content="{{ $description }}">
